.THIS.slds-readonly-path{
    pointer-events: none;
}

.lgc-bg {
    background-color: rgb(237, 229, 229);
}

.lgc-bg-inverse {
    background-color: rgb(22, 50, 92);
}

.cleanup{
    width:48px;
    height:48px;
}
.slds-box{
    height:37rem;
    background-color: white;

}
.tile{
    background-color: white;
    display:grid;
    grid-template-columns: 4.5rem 23rem;
    border-radius: 0.4rem;
    position: absolute;
}
a:link{
    color:#0176d3;
}
a:visited{
    color:#0176d3;
} 
a:hover{
    color:orange;
}
.link{
    font-size:1rem;
}
.title{
    background-color: var(--lwc-colorBackground);
    padding-left:0.5rem;
}
.settings{
    font-size: 1rem;
    font-weight: 600;
}
.utilTitle{
    background-color: #f3f3f3;
    padding-left:0.5rem;
}
.utils{
    font-weight: 600;
}
.cleanup{
    width:48px;
    height:48px;
}


.tileBody{
    background-color: #f8f8f8;
}

.utilTitle{
    background-color: #dad5d5;
}
.THIS.myBtn  {
    width: 100px;
}
.customcss{
    margin: 1px;
    size:small;
}